.Input {
  margin-top: var(--mb-1);
}

.Input form {
  width: 100%;
  grid-template-columns: 1fr 10%;
}

.Input textarea {
  height: 55px;
  background-color: var(--light-color-gray2);
  border: none;
  padding: var(--mb-1);
  border-radius: var(--mb-0-5);
  color: var(--container-color);
}

.Input textarea::placeholder {
  color: var(--container-color);
}

.Input button {
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: var(--mb-0-5);
  background-color: var(--black-color);
  color: var(--container-color);
}

.Input button img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 576px) {
  .Input form {
    width: 100%;
    grid-template-columns: 1fr 15%;
    gap: 10px;
  }

  .Input input {
    width: 100%;
  }
}
