.Sidebar {
  background-color: var(--black-color);
  padding: var(--mb-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Sidebar nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Sidebar nav span {
  margin: auto;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}


@media screen and (max-width: 768px) {
  .Sidebar {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: var(--mb-1-5);
    padding-right: var(--mb-1-5);
    /* flex-direction: row; */
  }

  .Sidebar nav {
    width: auto;
    display: flex;
    /* width: 100%; */
    text-align: center;
  }
}