.Message {
  width: 100%;
}

.Message__content {
  max-width: 48rem;
  margin: auto;

  display: flex;
  place-items: center;
  align-items: flex-start;
  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.backgroun-light-gray {
  background-color: var(--light-color-gray);
}

.Icon__logo {
  display: flex;
  place-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  min-width: 35px;
  min-height: 35px;
  border-radius: var(--mb-0-5);
  margin-right: var(--mb-1);
}

.Icon__logo img {
  width: 25px;
}

.Icon__gpt {
  background-color: var(--gren-color);
}

.Icon__user {
  background-color: var(--container-color);
}